<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Intercom Acquire example</title>
</head>

<body>
  <h1>Intercom Acquire - simple example</h1>

  <%= yield %>

</body>
</html>